mixin articles(title, articles, articles_url=None, max=5)
    section.articles
        .subheading= title
        ul
            - var _articles = articles[:max] if max else articles
            for article in _articles
                li
                    .article-icon
                        img(src='/dev/source.png')
                    .article-info
                        .article-title.title
                            a(href=article.ext_url)= article.title
                        .meta
                            .meta-tags= article.source.name
                            .meta-time= article.updated_at|natural_datetime
        if articles|count > max and max > 0 and articles_url
            .more.js-more(data-mapping='articles', data-href=articles_url) {{ articles|count - max }} more articles
