- from 'mixins/actions.jade' import actions

mixin event_item(event, user, summary_length=0)
    article.item.clearfix
        .notations
            .bookmark-flag(style=('' if event in user.bookmarked else 'display:none;'))
                span.icon-bookmark
            .promotions
                .notation Promoted by
                ul.promoters
                    li
                        img(src='/dev/user.jpg')
                .notation-meta + 5 more
        .item-thumb
            a(href=url_for('main.event', id=event.id))
                img(src=event.image)
        .item-content
            header
                .item-title.title
                    a(href=url_for('main.event', id=event.id))= event.title
                .meta
                    .meta-tags
                        for story in event.stories
                            a(href=url_for('main.story', id=story.id))= story.title
                            if not loop.last
                                ,
                    .meta-time= event.updated_at|natural_datetime
            //- TO DO: which story do you watch if it is multiple stories?
            +actions(['watch', 'bookmark', 'discuss', 'share', 'promote'], user=user, event=event, story=event.stories[0])
            .item-summary
                if summary_length == 0
                    p= event.summary|highlight_mentions(event.mentions)|sanitize_html
                else
                    p= event.summary|truncate(length=summary_length)|highlight_mentions(event.mentions)|sanitize_html





