mixin mentions(title, concepts)
    section.mentions
        .heading= title
        ul
            for concept in concepts
                li.mention
                    if concept.image
                        a(href=url_for('main.concept', slug=concept.slug))
                            .mention-image(style='background-image:url("'+concept.image+'")')
                    .mention-content
                        .mention-title.title
                            a(href=url_for('main.concept', slug=concept.slug))= concept.name
                        if concept.summary
                            p= concept.summary|truncate
