mixin mentions(title, concepts, mentions_url=None, max=5)
    section.mentions
        .heading= title
        ul
            - var _concepts = concepts[:max] if max else concepts
            for concept in _concepts
                li.mention
                    a(href=url_for('main.concept', slug=concept.slug))
                        if concept.image
                            .mention-image(style='background-image:url("'+concept.image+'")')
                        else:
                            .mention-image(style='background-image:url(/img/missing.png)')
                    .mention-content
                        .mention-title.title
                            a(href=url_for('main.concept', slug=concept.slug))= concept.name
                        if concept.summary
                            p= concept.summary|truncate
                        else
                            p We're missing a summary for this concept. Please help us by submitting one.
        if concepts|count > max and max > 0 and mentions_url
            a(href=mentions_url).more {{ concepts|count - max }} more mentions
